@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    display: relative;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    justify-content: center;
    background-color: #000000;
    color: white;
}
form{
    text-align: center;
    justify-content: center;
    top: 100px;
}
button {
    font-size: 40px;
    background-color: #000000;
    border: none;
    border-radius: 100px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    
}