<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Home.css">
    <title>Anotações</title>
</head>
<body>
    <div class="top">
        <h3>Bem-Vindo ao TechNotes o nosso site de anotações</h3>
        <div class="button">
            <button class="button" role="button">Entrar</button>
            <button class="button" role="button">Registar-se</button>
        </div>
    </div>
    <div class="cont">
        <h4>Anotações Inteligentes, Organize sua Vida, Libere sua Mente</h4>
        <p>
            Você já se pegou perdendo informações importantes, 
            esquecendo datas de compromissos cruciais ou se sentindo 
            sobrecarregado com tarefas e informações que parecem incontroláveis?
            Se sim, você não está sozinho. Em um mundo cada vez mais acelerado,
            a necessidade de manter um registro organizado de nossas vidas é
            essencial.
        </p>
        <p>
            Bem-vindo ao nosso site de anotações, o seu parceiro confiável 
        na jornada para uma vida mais organizada, produtiva e tranquila. 
        Aqui, você descobrirá como as anotações podem ser a chave para a 
        simplificação da sua vida e como nosso serviço pode tornar esse processo 
        mais fácil do que nunca.
        </p>
    </div>
    <div class="end">
        <p>Juntos somos mais fortes. Obrigado por fazer parte da nossa equipe!</p>
    </div>
</body>
</html>
