<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Home.css">
    <title>Home</title>
</head>
<body>
    <div class="top">
        <img src="" alt="" class="brain">
        <h1>TECHNOTES</h1>
        <div class="botoes">
            <button class="login" role="button">
                Login
            </button>
            <button class="register" role="button">
                Registre-se
            </button>
        </div>
    </div>
    <div class="text">
        <img src="" alt="" class="lampada">
        <div class="tamanho">
            <div class="anot">Anotações Inteligentes!!!</div>
            <div class="libere">Libere sua Mente!!!</div>
            <div class="org">Organize sua Vida!!!</div>
        </div>
        <div class="main_text">Aqui, você descobrirá como as anotações podem ser a chave para a 
            simplificação da sua vida e como nosso serviço pode tornar esse processo 
            mais fácil do que nunca.</div>
    </div>
</body>
</html>