<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="top">
        <img src="" alt="" class="brain">
        <h1>TECHNOTES</h1>
        <div class="botoes">
            <button class="login" role="button">
                Login
            </button>
            <button class="register" role="button">
                Registre-se
            </button>
        </div>
    </div>
    <div class="text">
        <h3>
            <div class="anot">
                
            </div>
        </h3>
    </div>
</body>
</html>