.parent-div {
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .FRAME-2128-2 {
    transform: rotate(0deg);
    position: relative;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
  }
  .GROUP-2129-6 {
    position: absolute;
    width: 1394px;
    height: 123px;
    left: 19px;
    top: 12px;
    transform: rotate(0deg);
    z-index: 3;
    opacity: 1;
  }
  .GROUP-2129-4 {
    position: absolute;
    width: 415px;
    height: 67px;
    left: 998px;
    top: 21px;
    transform: rotate(0deg);
    z-index: 3;
    opacity: 1;
  }
  .RECTANGLE-2128-4 {
    position: absolute;
    left: 1200px;
    top: 21px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(247, 247, 247, 1);
  
    border: 1px solid rgba(0, 0, 0, 1);
  
    border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  
    width: 211px;
    height: 65px;
    opacity: 1;
  }
  .RECTANGLE-2128-6 {
    position: absolute;
    left: 998px;
    top: 21px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(0, 0, 0, 1);
  
    border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  
    width: 156px;
    height: 65px;
    opacity: 1;
  }
  .GROUP-2129-21 {
    position: absolute;
    width: 874.7833862304688px;
    height: 383px;
    left: 232px;
    top: 208px;
    transform: rotate(0deg);
    z-index: 4;
    opacity: 1;
  }
  .GROUP-2129-26 {
    position: absolute;
    width: 478px;
    height: 105px;
    left: 470px;
    top: 697px;
    transform: rotate(0deg);
    z-index: 5;
    opacity: 1;
  }
  .RECTANGLE-2129-22 {
    position: absolute;
    left: 470px;
    top: 697px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(114, 215, 97, 1);
  
    border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  
    width: 478px;
    height: 105px;
    opacity: 1;
  }
  .FRAME-2129-24 {
    transform: rotate(120.00000044529207deg);
    position: absolute;
    width: 169px;
    height: 141.72425842285156px;
    left: 941.6962943037292px;
    top: 596.3189348876476px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  
  
