<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Register.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Registre-se</title>
</head>
<body>

    <div class="inicio">
        <h1>Registre-se aqui</h1>
        <p>Cadastro fácil e rápido que não levará nem 2 min</p>
    </div>
    <div class="boxes">
        <div class="input-box">
            <input type="text" placeholder="Nome e Sobrenome" 
            required>
            <i class='bx bxs-user-pin'></i>
        </div>
        
        <div class="input-box">
            <input type="email" placeholder="E-mail" 
            required>
            <i class='bx bxl-gmail' ></i>
        </div>

        <div class="input-box">
            <input type="password" placeholder="Crie uma senha" 
            required>
            <i class='bx bx-lock'></i>
        </div>

        <div class="input-box">
            <input type="password" placeholder="Repita a senha" 
            required>
            <i class='bx bx-lock'></i>
        </div> 

        <div class="input-box">
            <p> Data de Nascimento</p>
            <input type="date" required>
        </div>
        <div class="gender">
            <input type="checkbox" 
            required>
            <i class='bx bx-male'></i>
            <input type="checkbox" 
            required>
            <i class='bx bx-female' ></i>
            <input type="checkbox" 
            required> Outro
        </div>

        <div class="button">
            <button class="button-17" role="button">Cadastrar</button> 
        </div>
</div>
</body>
</html>
